.bi {
  font-size:2.5em;
}

.col-md-4 {
  text-align: center;
}


 .banner {
  width: 100%;
  height: 100%;
  position:relative;
  background-image: url(pagetopper.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 800px;




}

/* styles for my resume */

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}


/* container that wraps around the whole document */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* section titles  */
.sectionheader {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #464a4e;
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 70%;
  min-width: 300px;
}

.maintext {
  text-align: left;
  padding-left: 1em;
  line-height: 2.5em;
}

/* job titles */
.jobtitle {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  font-weight: 600;
  color: #464a4e;
}

/* job organizations */
.organization {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #706f6f;
}

/* job dates */
.date {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: #706f6f;
}

/* normal text */
.description {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.graduation {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #464a4e;
  text-align: left;
  padding-left: 2em;
  margin: 0 auto;
}

.school {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 600;
  color: #706f6f;
  text-align: left;
  padding-left: 2em;
  margin: 0 auto;
}

.study {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #706f6f;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
  margin: 0 auto;
}

/* keep contact info inline */
.menu li {
  list-style-type: none;
}


/* class for contact info, centers it */
.menu {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  padding: 0px;
}

/* list items (links and skills) */
ul {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  text-align: left;
  margin: 0 auto;
}

li {
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/* link commands */
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* after you've visited link */
a:visited {
  text-decoration: none;
  color: purple;
}

/* hovering over link  */
a:hover {
  text-decoration: underline;
  color: red;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.col-md-6 {
  width: 50%
  margin-left: 0px;
}

/* change size of all these and change color to beige-yellow */
.bi {
  color: #ddc6a4;
  text-align: left;
  padding-right: 1em;
  font-size: 2em;
}


/* the lines that separate all the section */
.sectionlines {
  border-bottom: 1px solid #dddddd;
  border-left: .5px solid #dddddd;
  padding-bottom: 1em;
  padding-top: 1em;
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
  width: 100%;
}

.footer p {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  margin: 0 auto;

}

@media screen and (max-width: 480px) {

 /*Add CSS that only activates on screens less than 480x here*/



}
