/* styles for my resume */

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* name at the top */
#name {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* journalist banner */
#title {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* section titles  */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #33485e;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/* job titles */
.jobtitle {
  font-size: 2em;
  font-weight: 600;
}

/* job organizations */
.organization {
  font-size: 1.5em;
  font-weight: 400;
}

/* job dates */
.date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* normal text */
.description {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu li {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  display: inline;
  text-align: center;
}

/* list items (links and skills) */
ul {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* link commands */
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* after you've visited link */
a:visited {
  text-decoration: none;
  color: purple;
}

/* hovering over link  */
a:hover {
  text-decoration: underline;
  color: red;
}

.top {
  width: 60%
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
